.app {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.app-logo {
  height: 30;
  pointer-events: none;
}

.content-container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 1rem;
}

.card-header,
.card-title {
  min-height: 4.1rem;
}

.song-results {
  padding-top: 1.25rem;
  padding-right: 1rem;
}

.song-item {
  width: 12rem;
}

.song-details {
  width: 30rem;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
